[Unit]
Description=OTS: One-Time-Secret sharing platform
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__
ExecStart=__FINALPATH__/__APP__

[Install]
WantedBy=multi-user.target
